<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="paginaInicial.css">
</head>
<body>
    <header>
        <h2 class="logo">Logo</h2>
        <nav class="navegation">
            <a href="#">About</a>
            <a href="#">Home</a>
            <button class="btnTest-Popup">Test</button>
        </nav>
    </header>

    <div class="wrapper">
        <span class="icon-close"><ion-icon name="close-outline"></ion-icon> </span>
        <header class="year">
            <nav class="navegation-year">
                <a href="#" class="link-2026">2026st</a>
            </nav>
        </header>
        <div class="form-box-2026">
            <form action="#" method="post">
                <summary id="firstQuestion">
                    <span class="primeiraQuestao">
                        Questão 1. Sejam z, w ∈ C tais que z - w = -2√3 e w ≠ O. Se z tem modulo 2√3,<br>
                        e w tem argumento π/6, entäo a parte real de z é igual <br><br> A) -2√3. B) -√3. C) 0. D) √3. E) 2√3.
                    </span>
                    <div class="firstContent">
                        Temos: z - w = -2√3 |z| = 2√3
                    </div>
                </summary>
            </form>
        </div>
    </div>

    <script src="/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@8.0.13/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@8.0.13/dist/ionicons/ionicons.js"></script>
</body>
</html>