<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="paginaInicial.css">
</head>
<body>
    <header>
        <h2 class="logo">Logo</h2>
        <nav class="navegation">
            <a href="#">About</a>
            <a href="#">Home</a>
            <button class="btnTest">Test</button>
        </nav>
    </header>

    <div class="wrapper">
        <span class="icon-close"><ion-icon name="close-outline"></ion-icon> </span>
        <header class="year">
            <nav class="navegation-year">
                <button class="btn-2026">2026th</button>
            </nav>
        </header>
        <div class="years">
            <form action="#" method="post">
                <div class="input-box">
                    
                </div>
            </form>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@8.0.13/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@8.0.13/dist/ionicons/ionicons.js"></script>
</body>
</html>